#header {
    background: #505c70;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 10px;
}

#header li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid white;
    padding: 10px;
}

#header li:hover {
  background-color: #58719a;
}

#header ul {
padding-left: 0px;
}

#header li:last-of-type {
    margin-right: 0px;
}

#header li a{
color: white;
}

#header li a:hover{
text-decoration: none;
}
